.Vmatrix div:nth-child(n + 5) {
  margin-top: -15px;
}

.Vmatrix div:nth-child(5) {
  margin-left: 38px;
}

.Vmatrix div:nth-child(7n) {
  margin-right: 32.5px;
}

.Vmatrix div:nth-child(7n + 5) {
  margin-left: 38px;
}

.VmatrixLg div:nth-child(14) {
  margin-left: 38px;
}
.VmatrixLg div:nth-child(n + 14) {
  margin-top: -15px;
}
.VmatrixLg div:nth-child(25n + 14) {
  margin-left: 38px;
}

.VmatrixMd div:nth-child(10) {
  margin-left: 38px;
}
.VmatrixMd div:nth-child(n + 10) {
  margin-top: -15px;
}
.VmatrixMd div:nth-child(17n + 10) {
  margin-left: 38px;
}
.VmatrixMd div:nth-child(17n) {
  margin-right: 32.5px;
}
/* --------------------------------------------------------------------- */

.Hmatrix div:nth-child(n + 5) {
  margin-top: -18px;
}
.Hmatrix div:nth-child(5) {
  margin-left: 38px;
}

.Hmatrix div:nth-child(7n) {
  margin-right: 32.5px;
}

.Hmatrix div:nth-child(7n + 5) {
  margin-left: 38px;
}

.HmatrixMd div:nth-child(5) {
  margin-left: 38px;
}
.HmatrixMd div:nth-child(n + 5) {
  margin-top: -35px;
}

.HmatrixLg div:nth-child(7) {
  margin-left: 38px;
}
.HmatrixLg div:nth-child(n + 7) {
  margin-top: -17px;
}
.HmatrixLg div:nth-child(11n + 7) {
  margin-left: 38px;
}

.HmatrixLg2 div:nth-child(7) {
  margin-left: 38px;
}
.HmatrixLg2 div:nth-child(n + 7) {
  margin-top: -35px;
}
.HmatrixLg2 div:nth-child(11n + 7) {
  margin-left: 38px;
}
